parameters:
- name: PackageApp
  displayName: Package App
  type: boolean
  default: true

- name: PackageACTests
  displayName: Package Acceptance Tests
  type: boolean
  default: true

- name: PackageNuget
  displayName: Package Nuget Project
  type: boolean
  default: true

- name: RunUnitTests
  displayName: Run Unit Tests
  type: boolean
  default: true

- name: RunIntegTests
  displayName: Run Integration Tests
  type: boolean
  default: true

- name: RunSonarCloudTests
  displayName: Run Sonar Cloud Analysis
  type: boolean
  default: true

- name: RunMutationTests
  displayName: Run Mutation Tests
  type: boolean
  default: true

- name: RunACTests
  displayName: Run Acceptance Tests
  type: boolean
  default: true

- name: testSettings
  type: object
  default:
  - name: AzureAd:ClientId
    value: vh-user-api-appid
    secret: true
  - name: AzureAd:ClientSecret
    value: vh-user-api-key
    secret: true
  - name: AzureAd:TenantId
    value: tenantid
    secret: true
  - name: VhServices:UserApiResourceId
    value: vh-user-api-identifieruris
    secret: true
  - name: DefaultPassword
    value: $(defaultPassword)
  - name: Testing:ExistingGroups:0:Displayname
    value: $(testing-existinggroups-0-displayname)
  - name: Testing:ExistingGroups:0:GroupId
    value: $(testing-existinggroups-0-groupid)
  - name: Testing:ExistingGroups:1:Displayname
    value: $(testing-existinggroups-1-displayname)
  - name: Testing:ExistingGroups:1:GroupId
    value: $(testing-existinggroups-1-groupid)
  - name: Testing:ExistingUserDisplayname
    value: $(testing-existinguserdisplayname)
  - name: Testing:ExistingUserFirstname
    value: $(testing-existinguserfirstname)
  - name: Testing:ExistingUserId
    value: $(testing-existinguserid)
  - name: Testing:ExistingUserLastname
    value: $(testing-existinguserlastname)
  - name: Testing:ExistingUserPrincipal
    value: $(testing-existinguserprincipal)
  - name: Testing:ExistingEmail
    value: $(testing-existingemail)
  - name: Testing:NewGroups:0:Displayname
    value: $(testing-newgroup-0-displayname)
  - name: Testing:NewGroups:0:GroupId
    value: $(testing-newgroup-0-groupid)
  - name: ReformEmail
    value: $(reformemail)
  - name: TestDefaultPassword
    value: $(testDefaultPassword)
  - name: ConnectionStrings:RedisCache
    value: redis-connection-str
    secret: true
  - name: AdGroup:CaseType
    value: $(adgroup-casetype)
  - name: AdGroup:Administrator
    value: $(adgroup-administrator)
  - name: AdGroup:Judge
    value: $(adgroup-judge)
  - name: AdGroup:StaffMember
    value: $(adgroup-staffmember)
  - name: AdGroup:ProfessionalUser
    value: $(adgroup-professionaluser)
  - name: AdGroup:JudgesTestGroup
    value: $(adgroup-judgestestgroup)
  - name: AdGroup:External
    value: $(adgroup-external)
  - name: AdGroup:JudicialOfficeHolder
    value: $(adgroup-judicialofficeholder)
  - name: ZapConfiguration:BuildConfigMode
    value: $(zapConfiguration-buildConfigMode)
  - name: FeatureToggle:SdkKey
    value: vh-admin-web-Feature-Toggle
    secret: true

- name: appSettings
  type: object
  default:
  - name: ApplicationInsights:InstrumentationKey
    value: vh-core-infra-AppInsightsKey
  - name: AzureAd:ClientId
    value: vh-user-api-appid
    secret: true
  - name: AzureAd:ClientSecret
    value: vh-user-api-key
    secret: true
  - name: AzureAd:TenantId
    value: tenantid
    secret: true
  - name: VhServices:UserApiResourceId
    value: vh-user-api-identifieruris
    secret: true
  - name: DefaultPassword
    value: $(defaultPassword)
  - name: ReformEmail
    value: $(reformemail)
  - name: TestDefaultPassword
    value: $(testDefaultPassword)
  - name: AdGroup:CaseType
    value: $(adgroup-casetype)
  - name: AdGroup:Administrator
    value: $(adgroup-administrator)
  - name: AdGroup:Judge
    value: $(adgroup-judge)
  - name: AdGroup:StaffMember
    value: $(adgroup-staffmember)
  - name: AdGroup:ProfessionalUser
    value: $(adgroup-professionaluser)
  - name: AdGroup:JudgesTestGroup
    value: $(adgroup-judgestestgroup)
  - name: AdGroup:External
    value: $(adgroup-external)
  - name: AdGroup:JudicialOfficeHolder
    value: $(adgroup-judicialofficeholder)
  - name: ConnectionStrings:RedisCache
    value: redis-connection-str
    secret: true
  - name: IsLive
    slot:
      deployment:
        value: false
      active:
        value: true
  - name: FeatureToggle:SdkKey
    value: vh-admin-web-Feature-Toggle
    secret: true

variables:
  - group: vh-domains-and-urls
  - group: vh-apps-settings-generic
  - group: vh-user-groups

trigger:
  branches:
    include:
    - master
    - release/*
    - hotfix/*


resources:
  repositories:
    - repository: templates
      type: github
      name: hmcts/azure-devops-templates
      ref: refs/heads/master
      endpoint: hmcts
      
  containers:
  - container: dotnetsdk
    image: sspublicsbox.azurecr.io/vh/dotnet:3.1.102
    endpoint: sspublicsbox
  - container: dotnetsdk-cipipeline
    image: sspublicsbox.azurecr.io/vh/dotnet-cipipeline:3.1.102
    endpoint: sspublicsbox

extends:
  template: stages\dotnet-package.yml@templates
  parameters:
    coreProjectPath: UserApi/UserApi
    nugetProjectPath: UserApi/UserApi.Client
    PackageNuget: ${{ parameters.PackageNuget }}
    PackageApp: ${{ parameters.PackageApp }}
    PackageAcceptanceTests: ${{ parameters.PackageACTests }}
    netVersion: '6.x'
    Test: ${{ or(parameters.RunUnitTests, parameters.RunIntegTests, parameters.RunMutationTests) }}
    testParameters:
      netVersion: '6.x'
      coreProjectPath: UserApi/UserApi
      unitTestProjectPath: UserApi/UserApi.UnitTests
      integTestProjectPath: UserApi/UserApi.IntegrationTests
      secrets_KeyVault: $(pr_Secret_KeyVault)
      secrets_Subscription: $(pr_Secret_Subscription)
      RunUnitTests: ${{ parameters.RunUnitTests }}
      RunIntegrationTests: ${{ parameters.RunIntegTests }}
      RunSonarCloud: ${{ parameters.RunSonarCloudTests }}
      RunStryker: ${{ parameters.RunMutationTests }}
      IntegrationTestSettings:
        - ${{ each setting in parameters.testSettings }}:
          - name: ${{ setting.name }}
            value: ${{ setting.value }}
            secret: ${{ setting.secret }}
      variables:
        - group: vh-user-api-tests
      coverletCoverageExclusions:
        - "[UserApi.*Tests?]*"
        - "[UserApi.API]Startup"
        - "[UserApi.Common]*"
        - "[Testing.Common]*"
      sonarCloud_ExtraProperties: |
        sonar.cs.opencover.reportsPaths=$(Common.TestResultsDirectory)/Coverage/coverage.opencover.xml
        sonar.coverage.exclusions=**/UserApi/Swagger/**,**/Program.cs,**/Startup.cs,**/Testing.Common/**,**/UserApi.Common/**,**/UserApi.IntegrationTests/**,**/UserApi.UnitTests/**,**/UserApi/Helper/**,**/UserApi/ConfigureServicesExtensions.cs,**/UserApi/Extensions/**
        sonar.cpd.exclusions=**/Program.cs,**/Startup.cs,**/Testing.Common/**,**/UserApi/Swagger/**
      StrykerBreak: 75
    ACTest: ${{ parameters.RunACTests }}
    releaseParameters:
      environment: Preview

      subscription: $(pr_Subscription)
      secrets_KeyVault: $(pr_Secret_KeyVault)
      secrets_Subscription: $(pr_Secret_Subscription)
      devOpsResource: vh_user_api
      appName: vh-user-api-$(environment)
      resourceGroup: vh-user-api-$(environment)
      variables:
        - group: vh-user-api
      appSettings: ${{ parameters.appSettings }}
      acceptanceTestSettings:
        - name: VhServices:UserApiUrl
          value: $(user_api_url_staging)
        - ${{ each setting in parameters.testSettings }}:
          - name: ${{ setting.name }}
            value: ${{ setting.value }}
            secret: ${{ setting.secret }}

